*{
    margin: 0;
    padding: 0;
}

/* Header e parte de navegação: */
.divHeader{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(243, 243, 247);
    width: 2000px;
   
}

.imagemSesi{
    width: 120px;
    height: 110px;
    margin-left: 300px;
}

.nav a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav1 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav2 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav3 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav4 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav5 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav6 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav7 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

/* Conteúdos, Imagens, Pesquisas e Calculos */
.tituloPrincipal{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.infoP{
  text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: justify;
    max-width: 800px;
    margin-left: 550px;
}

.secaoRedesComp{
  height: 400px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoRedesComp:hover{
  height: 400px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoRedesComp{
margin: 10px;
}

.pTitulo1{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info1{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.imagemRede{
  margin-top: 10px;
  height: 200px; 
  width: auto;
  margin-left: 270px;
  border-radius: 20px;
  border-color: #000000;
}

.secaoRedesMin{
  height: 200px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoRedesMin:hover{
  height: 200px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoRedesMin{
margin: 10px;
}

.pTitulo2{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info2{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.secaoInter{
  height: 600px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoInter:hover{
  height: 600px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoInter{
margin: 10px;
}

.pTitulo3{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info3{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.imagemInter{
  margin-top: 10px;
  height: 200px; 
  width: auto;
  margin-left: 270px;
  border-radius: 20px;
  border-color: #000000;
}

.secaoWeb{
  height: 400px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoWeb:hover{
  height: 400px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoWeb{
margin: 10px;
}

.pTitulo4{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info4{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.imagemWeb{
  margin-top: 10px;
  height: 200px; 
  width: auto;
  margin-left: 270px;
  border-radius: 20px;
  border-color: #000000;
}

.secaoFibra{
  height: 600px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoFibra:hover{
  height: 600px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoFibra{
margin: 10px;
}

.pTitulo5{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info5{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.imagemFibra{
  height: 300px; 
  width: auto;
  margin-left: 130px;
  border-radius: 20px;
  border-color: #000000;
}

.secaoWifi{
  height: 500px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoWifi:hover{
  height: 500px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoWifi{
margin: 10px;
}

.pTitulo6{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info6{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.imagemWifi{
  margin-top: 10px;
  height: 250px; 
  width: auto;
  margin-left: 260px;
  border-radius: 20px;
  border-color: #000000;
}

.secaoRedeLoc{
  height: 540px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoRedeLoc:hover{
  height: 540px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoRedeLoc{
margin: 10px;
}

.pTitulo7{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info7{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.imagemCompo{
  margin-top: 10px;
  height: 250px; 
  width: auto;
  margin-left: 260px;
  border-radius: 20px;
  border-color: #000000;
}

.secaoComunic{
  height: 250px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoComunic:hover{
  height: 250px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoComunic{
margin: 10px;
}

.pTitulo8{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info8{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.secaoOSI{
  height: 600px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoOSI:hover{
  height: 600px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoOSI{
margin: 10px;
}

.pTitulo9{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info9{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.imagemOSI{
  margin-top: 10px;
  height: 250px; 
  width: auto;
  margin-left: 230px;
  border-radius: 20px;
  border-color: #000000;
}

.secaoTCPIP{
  height: 620px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoTCPIP:hover{
  height: 620px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoTCPIP{
margin: 10px;
}

.pTitulo10{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info10{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.imagemTCP{
  margin-top: 10px;
  height: 350px; 
  width: auto;
  margin-left: 230px;
  border-radius: 20px;
  border-color: #000000;
}

.secaoIPV{
  height: 670px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoIPV:hover{
  height: 670px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoIPV{
margin: 10px;
}

.pTitulo11{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info11{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.imagemIpv{
  margin-top: 10px;
  height: 200px; 
  width: auto;
  margin-left: 200px;
  border-radius: 20px;
  border-color: #000000;
}

.secaoBackend{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoBackend:hover{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoBackend{
margin: 10px;
}

.pTitulo12{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info12{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.secaoHTTP{
  height: 680px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoHTTP:hover{
  height: 680px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoHTTP{
margin: 10px;
}

.pTitulo13{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info13{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.imagemHTTP{
  margin-top: 10px;
  height: 250px; 
  width: auto;
  margin-left: 200px;
  border-radius: 20px;
  border-color: #000000;
}

.secaoFramework{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoFramework:hover{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoFramework{
margin: 10px;
}

.pTitulo14{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info14{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.pTitulo15{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}

/* Configuração das caixas com código: */
.code-block {
    height: 400px;
    width: 900px;
    margin-left: 500px;
    background: #1e1e1e;
    color: #dcdcdc;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow-x: auto;
    border: 1px solid #333;
}

.code-block :hover {
   transform: scale(1.02);
   transition: 0.4s;
}

.code-block pre {
    margin: 0;
    font-size: 14px;
    font-family: "Courier New", monospace;
    white-space: pre-wrap;
}

/* Navegação do footer */
.tituloMapa {
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.navegacaoImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
  justify-items: center; 
  align-items: center; 
  margin: 20px;
  margin-left: 300px;
  max-width: 900px; 
}

/* Footer */
.imgFooter img {
  width: 400px;
  height: auto;
  transition: transform 0.5s ease;
}

.imgFooter img:hover {
  transform: scale(1.10); 
}

.IconeFooter{
    margin-top: 10px;
    width: 140px;
    height: 110px;
    border-radius: 10px;
    margin-left: 150px;
}

footer .infoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; 
  width: 80%;
  max-width: 1000px;
  margin-bottom: 10px;
  color: white;
}

.footerBottom {
  text-align: center;
  font-size: 13px;
  color: #ccc;
  padding-top: 10px;
  width: 100%;
}

footer{
  margin-top: 20px;
  background-color: rgb(58, 58, 58);
}

hr{
  margin-top: 10px;
}

/* Background Animado */
html, body {
  width: 100%;
  height:100%;
  overflow-x: hidden;
}

body {
    background: linear-gradient(-45deg, #ffffff, #9e9e9e, #535353, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Media Query: */
@media (max-width: 1400px) {

  .divHeader {
      width: 100%;
      justify-content: center;
      gap: 10px;
  }

  .imagemSesi {
      margin-left: 0;
      width: 90px;
      height: 80px;
  }

  .nav a,
  .nav1 a,
  .nav2 a,
  .nav3 a,
  .nav4 a,
  .nav5 a,
  .nav6 a,
  .nav7 a {
      font-size: 12px;
  }

  .tituloPrincipal {
      font-size: 30px;
  }

  .infoP {
      font-size: 24px;
      margin-left: 0;
      width: 90%;
      margin: auto;
  }

  .secaoRedesComp,
  .secaoRedesMin,
  .secaoInter,
  .secaoWeb,
  .secaoFibra,
  .secaoWifi,
  .secaoRedeLoc,
  .secaoComunic,
  .secaoOSI,
  .secaoTCPIP,
  .secaoIPV,
  .secaoBackend,
  .secaoHTTP,
  .secaoFramework,
  .code-block {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      padding-bottom: 20px;
  }

  .pTitulo1,
  .pTitulo2,
  .pTitulo3,
  .pTitulo4,
  .pTitulo5,
  .pTitulo6,
  .pTitulo7,
  .pTitulo8,
  .pTitulo9,
  .pTitulo10,
  .pTitulo11,
  .pTitulo12,
  .pTitulo13,
  .pTitulo14,
  .pTitulo15 {
      font-size: 26px;
  }

  .info1,
  .info2,
  .info3,
  .info4,
  .info5,
  .info6,
  .info7,
  .info8,
  .info9,
  .info10,
  .info11,
  .info12,
  .info13,
  .info14 {
      font-size: 18px;
  }

  .imagemRede,
  .imagemInter,
  .imagemWeb,
  .imagemFibra,
  .imagemWifi,
  .imagemCompo,
  .imagemOSI,
  .imagemTCP,
  .imagemIpv,
  .imagemHTTP {
      margin-left: 0;
      display: block;
      margin: 20px auto;
      max-width: 90%;
      height: auto;
  }

  .navegacaoImg {
      grid-template-columns: repeat(2, 1fr);
      margin-left: 0;
      width: 90%;
      margin: auto;
  }

  .imgFooter img {
      width: 90%;
  }

  footer .infoFooter {
      flex-direction: column;
      text-align: center;
      gap: 20px;
      width: 100%;
  }

  .IconeFooter {
      margin-left: 0;
      width: 120px;
      height: auto;
  }

}