*{
    margin: 0;
    padding: 0;
}

.divHeader{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(243, 243, 247);
    width: 2000px;
   
}
.nav a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav1 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav2 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav3 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav4 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav5 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav6 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav7 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.imagemSesi{
    width: 120px;
    height: 110px;
    margin-left: 300px;
}

.paragrafoTitulo{
  margin-top: 50px;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.caixa1{
    display: flex;
    text-align: center;
    align-items: center;
    width: 1000px;
    margin-left: 500px;
}

.paragrafoInformacao{
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    
}

.pTitulo2{
    font-size: 40px;
    text-decoration: underline;
    margin-left:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.secaoFluxograma {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  gap: 20px; 
  margin: 20px 0;
}

.textoFluxo {
  flex: 1; 
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-left: 100px;
    max-width: 1000px;
}

.ex1{
  margin: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.imagemFluxo {
  width: 400px; 
  height: 300px;
  border-radius: 8px;
  margin-right: 250px;
}

.imagemSimbologia{
   width: 500px;            
    height: auto; 
    margin-left: 30px;       
}

.secaoSimbologia{
    display: flex;           
    align-items: flex-start; 
    gap: 20px;              
}


.textoSimbologia{
  flex: 1;
   max-width: 1000px;
}

.pTitulo3{
   font-size: 40px;
    text-decoration: underline;
    margin-left:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.info3{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.secaoAlgoritmo{
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  gap: 20px; 
  margin: 20px 0;
}

.textoAlgoritmo{
   flex: 1; 
    margin-left: 100px;
    max-width: 1000px;
}

.pTitulo4{
   font-size: 40px;
    text-decoration: underline;
    margin-left:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.info4{
  margin: 10px;
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    max-width: 1000px;
}

.imagemAlg{
  width: 400px; 
  height: 300px;
  border-radius: 8px;
  margin-right: 250px;
}

.secaoOndeAlgoritmo{
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  gap: 20px; 
  margin: 20px 0;
}

.textoAlg{
   flex: 1; 
    margin-left: 100px;
    max-width: 1000px;
}

.pTitulo5{
   font-size: 40px;
    text-decoration: underline;
    margin-left:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.info5{
  margin: 10px;
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    max-width: 1000px;
}

.secaoPortugol{
   display: flex;
  align-items: center; 
  justify-content: space-between; 
  gap: 20px; 
  margin: 20px 0;
}

.textoPort{
   flex: 1; 
    margin-left: 100px;
    max-width: 1000px;
}

.pTitulo6{
   font-size: 40px;
    text-decoration: underline;
    margin-left:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.info6{
  margin: 10px;
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    max-width: 1000px;
}

.imagemPort{
    width: 800px; 
  height: 300px;
  border-radius: 8px;
  margin-right: 100px;
}

.ex2{
  margin: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.secaoVariaveis{
    display: flex;           
    align-items: flex-start; 
    gap: 10px;
}

.textoVariaveis{
   flex: 1; 
    margin-left: 100px;
    max-width: 1000px;
}

.pTitulo7{
   font-size: 40px;
    text-decoration: underline;
    margin-left:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.info7{
  margin: 10px;
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    max-width: 1000px;
}

.imagemVariavel{
   width: 400px;            
    height: 300px; 
    margin: 30px;  
    margin-right: -40px;    
}

.container{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
}

.balaoText{
  margin: 10px;
}

.titulo8{
  font-size: 30px;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info8{
 
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.container-imagens {
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap: 20px;                      
}

.titulo9{
   font-size: 30px;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center
    ;
}

.img1{
  width: 500px;
  height: auto;
}

.img2{
  width: 500px;
  height: 313px;
}

.img4{
   width: 500px;
  height: auto; 
}

.img5{
  width: 500px;
  height: 400px;
}

.img6{
  width: 500px;
  height: 400px;
}

.IconeFooter{
    margin-top: 10px;
    width: 140px;
    height: 110px;
    border-radius: 10px;
    margin-left: 150px;
}

footer .infoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; 
  width: 80%;
  max-width: 1000px;
  margin-bottom: 10px;
  color: white;
}

.footerBottom {
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  padding-top: 10px;
  width: 100%;
}

footer{
  margin-top: 20px;
  background-color: rgb(58, 58, 58);
}

hr{
  margin-top: 10px;
}


html, body {
  width: 100%;
  height:100%;
  overflow-x: hidden;
}

body {
    background: linear-gradient(-45deg, #ffffff, #9e9e9e, #535353, #000000);
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

