*{
    margin: 0;
    padding: 0;
}

.divHeader{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(243, 243, 247);
    width: 2000px;
   
}

.imagemSesi{
    width: 120px;
    height: 110px;
    margin-left: 300px;
}

.nav a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav1 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav2 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav3 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav4 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav5 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav6 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.nav7 a{
  text-decoration: none;
  color: #000000;   
  font-weight: bold;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
}

.tituloPrincipal{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.infoP{
  text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: justify;
    max-width: 800px;
    margin-left: 550px;
}

.secaoRedesComp{
  height: 200px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoRedesComp:hover{
  height: 200px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoRedesComp{
margin: 10px;
}

.pTitulo1{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info1{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.secaoRedesMin{
  height: 200px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoRedesMin:hover{
  height: 200px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoRedesMin{
margin: 10px;
}

.pTitulo2{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info2{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.secaoInter{
  height: 400px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoInter:hover{
  height: 400px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoInter{
margin: 10px;
}

.pTitulo3{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info3{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.secaoWeb{
  height: 200px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoWeb:hover{
  height: 200px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoWeb{
margin: 10px;
}

.pTitulo4{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info4{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.secaoFibra{
  height: 600px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoFibra:hover{
  height: 600px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoFibra{
margin: 10px;
}

.pTitulo5{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info5{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.imagemFibra{
  height: 300px; 
  width: auto;
  margin-left: 100px;
  border-radius: 20px;
  border-color: #000000;
}

.secaoWifi{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoWifi:hover{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoWifi{
margin: 10px;
}

.pTitulo6{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info6{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.secaoRedeLoc{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoRedeLoc:hover{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoRedeLoc{
margin: 10px;
}

.pTitulo7{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info7{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.secaoComunic{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoComunic:hover{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoComunic{
margin: 10px;
}

.pTitulo8{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info8{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.secaoOSI{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoOSI:hover{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoOSI{
margin: 10px;
}

.pTitulo9{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info9{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.secaoTCPIP{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoTCPIP:hover{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoTCPIP{
margin: 10px;
}

.pTitulo10{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info10{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.secaoIPV{
  height: 500px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoIPV:hover{
  height: 500px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoIPV{
margin: 10px;
}

.pTitulo11{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info11{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.secaoBackend{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoBackend:hover{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoBackend{
margin: 10px;
}

.pTitulo12{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info12{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.secaoHTTP{
  height: 400px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoHTTP:hover{
  height: 400px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoHTTP{
margin: 10px;
}

.pTitulo13{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info13{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.secaoFramework{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  
}

.secaoFramework:hover{
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1.02);
  transition: 0.4s;
}

.textoFramework{
margin: 10px;
}

.pTitulo14{
  font-size: 30px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.info14{
  font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}


.tituloMapa {
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.navegacaoImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
  justify-items: center; 
  align-items: center; 
  margin: 20px;
  margin-left: 300px;
  max-width: 900px; 
}

.imgFooter img {
  width: 400px;
  height: auto;
  transition: transform 0.5s ease;
}

.imgFooter img:hover {
  transform: scale(1.10); 
}

.IconeFooter{
    margin-top: 10px;
    width: 140px;
    height: 110px;
    border-radius: 10px;
    margin-left: 150px;
}

footer .infoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; /* espaço entre logo e informações */
  width: 80%;
  max-width: 1000px;
  margin-bottom: 10px;
  color: white;
}

.footerBottom {
  text-align: center;
  font-size: 13px;
  color: #ccc;
  padding-top: 10px;
  width: 100%;
}

footer{
  margin-top: 20px;
  background-color: rgb(58, 58, 58);
}

hr{
  margin-top: 10px;
}


html, body {
  width: 100%;
  height:100%;
  overflow-x: hidden;
}

body {
    background: linear-gradient(-45deg, #ffffff, #9e9e9e, #535353, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}